# Blog app environment
LISTMONK_URL=http://ccfreiburg.lists.app:9000
LISTMONK_API_USER=your_api_username
LISTMONK_API_TOKEN=your_api_token_here
SITE_NAME=CCFreiburg Blog
SITE_DESCRIPTION=News and updates from CCFreiburg.
